# Ignore Gradle project-specific cache directory
.gradle/
gradle.properties
local.properties
# Ignore Gradle build output directory
build/

tmp/
.DS_Store

# Ignore Vscode and Studio configs
.vscode/
.idea/

.kotlin/