# Ignore Gradle project-specific cache directory
.gradle/
!gradle/wrapper/gradle-wrapper.properties

# Ignore Gradle build output directory
build/

tmp/
.DS_Store

# Ignore Vscode and Studio configs
.vscode/
.idea/

.kotlin/